<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <script src="assets/js/webring.js"></script>
    <link rel="stylesheet" href="assets/css/index.css" />
    <script id="ring" type="application/json">
      {{ site.data.webring | jsonify }}
    </script>
  </head>
  <body>
    {% include template.html %}
    <div id="webring" role="navigation"></div>
  </body>
  <script>
    renderWebring();
  </script>
</html>
